<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/gameplatforminnodb</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.pool_size">100</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="gameplatform.db.table.Permesso"/>
		<mapping class="gameplatform.db.table.PermessoTemplate"/>
		<mapping class="gameplatform.db.table.PermessoTemplateId"/>
		<mapping class="gameplatform.db.table.Template"/>
		<mapping class="gameplatform.db.table.Gruppo"/>
		<mapping class="gameplatform.db.table.Utente"/>
		<mapping class="gameplatform.db.table.Livello"/>
		<mapping class="gameplatform.db.table.Gioco"/>
		<mapping class="gameplatform.db.table.Giocare"/>
		<mapping class="gameplatform.db.table.GiocareId"/>
		<mapping class="gameplatform.db.table.Trofeo"/>
		<mapping class="gameplatform.db.table.Immagine"/>
		<mapping class="gameplatform.db.table.Categoria"/>
	</session-factory>
</hibernate-configuration>